2월이 29일까지 있는 해를 윤년이라고 한다.

한 자연수를 입력받아서 윤년인지 아닌지를 판단하는 프로그램을 작성하시오.

단, 윤년은 다음 두 조건 중 하나만 만족하면 된다.


(1) 400의 배수이면 무조건 윤년이다.
(2) 4의 배수이며, 100의 배수가 아니면 윤년이다.

 

예)

2000 년 ====> 윤년 (1번 조건) 

2004 년 ====>  윤년(2번 조건)

1900 년 ====> 윤년 아님

1999 년 ====> 윤년 아님

In [11]:
a = int(input())

if a%400==0:
    print('Leap')
elif a%4==0 and a%100!=0:
    print('Leap')
else:
    print('Normal')

1999
Normal

세 개의 숫자가 주어질 때 작은 순서로 나열 했을 때, 두번째 수를 출력해보자.

예를 들어, 5 9 2 가 있다면, 작은 순서로 나열하면 2 5 9이고 두번째 수는 5이다.

In [31]:
a,b,c = map(int,input().split())
# 201 20 3
if a>b: # 20 201 3
    temp=a
    a=b
    b=temp
if c<a: # 3 201 20
    t=a
    a=c
    c=t
if c<b:
    te=b
    b=c
    c=te
    
print(b)

5 9 2
5

주민등록번호는 생년월일과 성별정보, 지역정보로 이루어진다.

여기서 생년월일과 성별정보만 입력으로 받겠다.

성별 정보는 1이면 1900년대 출생 남자, 2이면 1900년대 출생 여자, 3이면 2000년대 출생 남자, 4이면 2000년대 출생 여자를 말한다.

기준년도는 2012년도이다. 현재 나이를 출력하시오. 

예)

790101 1        =====> 성별정보가 1이므로, 1979년생, 34살이다.

080521 4        =====>  성별정보가 4이므로, 2008년생,  5살이다.